<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="dashboard">
      <div class="row">
        <a href="#" class="item col col-50">
          <i class="icon ion-thermometer"></i>
          <span class="text">Temperature</span>
        </a>
        <a href="#/tab/monitor-growth" class="item col col-50">
          <i class="icon ion-speedometer"></i>
          <span class="text">Humidity</span>
        </a>
      </div>
      <div class = "row">
        <a href="#" class="item col col-50">
          <i class="icon ion-lightbulb"></i>
          <span class="text">Light</span>
        </a>
        <a href="#" class="item col col-50">
          <i class="icon ion-waterdrop"></i>
          <span class="text">Soil moisture</span>
        </a>
      </div>
      <div class = "row">
        <a href="#/tab/monitor-growth" class="item col col-50">
          <i class="icon ion-android-camera"></i>
          <p class="text">Monitor growth</p>
        </a>
        <a href="#" class="item col col-50">
          <i class="icon ion-ios-bell-outline"></i>
          <span class="text">Notification</span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
